

/*Тело весь фон*/
body{
    height: 3000px;
    background-color: #ffa963;
    margin: 0;
    min-width: 1250px;
}
.head{
    text-align: center;
}
/*Шапка*/
.header{
    position: fixed;
    top: 0px;
    right: 10px;
    background-color:  #ffa963;
}
/*Центральная часть*/
.Main{
    margin: 0 auto;
    background-color: #fbf7f9;
    width: 70%;
    height: 100%;
}
/*Таблицы коплексов*/
.allComplexes{
    width: 68%;
    padding-left: 2%;
    position: fixed;
    background-color: #fbf7f9;
    z-index: 1;
}
.tableComplexes1, .tableComplexes2, .tableComplexes3{
    border: 5px solid #ffa963;
    border-radius: 10px;
    word-break: break-all;
}

.complexes1 td, .complexes2 td, .complexes3 td{
      text-align: center;
}
.complexes1, .complexes2, .complexes3{
    padding-top: 2%;
    display: inline-block;
    width: 32%;
    vertical-align: middle;
    text-align: center;
}

.tableComplexes1, .tableComplexes2, .tableComplexes3{
    width: 100%;
}
.compl{
   margin-left: 10%;
  }
p{
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    font-style: italic;
}

#prompt-form {
    display: inline-block;
    padding: 5px 5px 5px 70px;
    width: 200px;
    border: 1px solid black;
    background: white url(https://js.cx/clipart/prompt.png) no-repeat left 5px;
    vertical-align: middle;
}

#prompt-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#prompt-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: #ffc98b;
    opacity: 0.3;
}

#prompt-form input[name="text"] {
    display: block;
    margin: 5px;
    width: 180px;
}

/*Поля для добавления сотрудника*/
#addEmployees-container{
    position: fixed;
    top: 300px;
    left: 20px;
    display: none;
}
/*Блок кнопки удалить*/
#windowDel{
    position: fixed;
    right:20px;
    top: 400px;
    display: none;
}
#changePasswordLink{
    display: none;
}
#changePassword{
    display: none;
    position: absolute;
    top: 8%;
    right: 2%;

}
/*Таблица сотрудников*/
.tableEmployees{
    width: 65%;
    border: 2px solid rgb(255, 159, 64);
    border-radius: 10px;
    margin-top: 400px;
    position: absolute;
    margin-left: 2%;

}
.tableEmployees th{
    border:1px solid #313131 ;
    background-color: rgba(255, 179, 66, 0.69);

}
.employees td{
    text-align: center;
    border:1px solid #313131;
}
.stroka:hover{
    background-color: rgba(255, 179, 66, 0.37);
}

.employees{
    width: 100%;

}
/*Картинки*/
.images{
    position: fixed;
    bottom: 20px;
    right: -250px;
}
/*Заголовок и дата */
.titleMenu, .calendar{
    display: inline-block;
}
.calendar{

    padding-left: 7px;
}
#calendarD{
    background-color: #fbf7f9;
}
/*Выбор строки в таблице*/
.selectColor{
    background-color: rgba(255, 179, 66, 0.69);
}
/*Кнопка блокировки*/
#blockPages{
    position: fixed;
    bottom: 5%;
    left: 2%;
    display: none;
}
/*Стили для полей ввода*/
.inputFIO{
    border: 3px solid red;
    color: rgba(0, 0, 0, 0.22);
}
.inputPositionHeld{
    border: 3px solid red;
    color: rgba(0, 0, 0, 0.22);
}

.oldPassword{
    border: 3px solid red;
    color: rgba(0, 0, 0, 0.22);
}
.newPassword{
    border: 3px solid red;
    color: rgba(0, 0, 0, 0.22);
}